{% extends 'forms_practical/base.html' %}



{% block content %}
    {% if form %}
    	<form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Подписаться</button>
        </form>
    {% else %}
        <h2>Подписка оформлена</h2>
        <h3>Имя: {{ data.name }}</h3>
        <h3>Фамилия: {{ data.surname }}</h3>
        <h3>Возраст: {{ data.age }}</h3>
        <h3>Пол: {{ data.sex }}</h3>
        <h3>Email: {{ data.email }}</h3>
    {% endif %}
{% endblock %}
