{% extends 'products/base.html' %}



{% block content %}
    <form action="" method="get">
        {{ form.as_p }}
        <button type="submit">Поиск</button>
    </form>
    {% if data %}
        <h2>Результат поиска:</h2>
        <ul>
            {% for name, details in data.items %}
                <li>{{ name }} - Цвет: {{ details.Цвет }}, Размер: {{ details.Размер }}</li>
            {% empty %}
                <li>Нет результата</li>
            {% endfor %}
        </ul>

        <small>Страница: {{ page }}</small>

        {% if nextPage <= maxPage %}
            <a href="./?query={{ query }}&page={{ nextPage }}">Далее</a>
        {% endif %}

        {% if prevPage >= 1 %}
            <a href="./?query={{ query }}&page={{ prevPage }}">Назад</a>
        {% endif %}

    {% endif %}
{% endblock %}
